        <footer class="row navbar-fixed-bottom">
            <div class="panel-footer text-center">
                Created by <a href="https://github.com/ckdarbyinc/">CKDarby Inc</a>
            </div>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{{ app.request.basepath }}/assets/js/bootstrap.min.js"></script>
    </body>
</html>